<h2>Opció hozzáadása</h2>

<form method="post">
    <input type="hidden" name="dropdownID" value="@ViewBag.DropdownID" />

    <label>Opció értéke:</label><br />
    <input name="optionValue" />

    <br /><br />
    <button type="submit">Hozzáad</button>
</form>
