<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ArenaRMA</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div style="padding:10px; background:#222; color:white;">
        <a href="/Emails" style="color:white; margin-right:15px;">Emailek</a>
        <a href="/Auth/Login" style="color:white; margin-right:15px;">Login</a>
        <a href="/Auth/Logout" style="color:white; margin-right:15px;">Logout</a>
        <a href="/SuperAdmin/Login" style="color:white;">SuperAdmin</a>
    </div>

    <div style="padding:20px;">
        @RenderBody()
    </div>

</body>
</html>
