<h2>Új felhasználó létrehozása</h2>

<form method="post">

    <label>Név:</label><br />
    <input name="FullName" /><br /><br />

    <label>Felhasználónév:</label><br />
    <input name="Username" /><br /><br />

    <label>Email:</label><br />
    <input name="Email" /><br /><br />

    <label>Jelszó:</label><br />
    <input name="Password" /><br /><br />

    <label>Szerepkör:</label><br />
    <select name="RoleID">
        @foreach (var r in ViewBag.Roles)
        {
            <option value="@r.RoleID">@r.RoleName</option>
        }
    </select><br /><br />

    <button type="submit">Létrehozás</button>
</form>
